BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
IncludeBlocks: Preserve
SpacesBeforeTrailingComments: 2
